window#waybar {
    background:#000000;
	background:rgba(0, 0, 0, 0.3);
}

#cpu {
    color: #b7bcba;
	text-shadow: 1px 1px 2px black;
}

#memory {
    color: #b7bcba;
	text-shadow: 1px 1px 2px black;
}

#pulseaudio {
    color: #b7bcba;
	text-shadow: 1px 1px 2px black;
}

#tray {
    color: #b7bcba;
	text-shadow: 1px 1px 2px black;
}

#taskbar button {
    background:#313244;
    padding-left: 10px;
    padding-right: 10px;
    border-radius:8px;
    margin-right:1px;
    margin-left:1px;
}

#clock {
    color: #b7bcba;
    font-weight:bold;
}

#custom-wlogout {
    color: #b7bcba;
    padding-left: 10px;
    padding-right: 13px;
    border-radius:8px;
    font-weight:bold;
}

#custom-swaync {
    color: #b7bcba;
    padding-left: 10px;
    padding-right: 13px;
    border-radius:8px;
}

#window {
    color: #b7bcba;
}

#workspaces {
    padding: 0;
    border-radius:8px;
}

#workspaces button {
    color: #b7bcba;
    background:#1e1e2e;
	background:rgba(0, 0, 0, 0.3);
    padding: 1px 5px;
}

#workspaces button.active {
    color: #000000;
    background: #b7bcba;
}

#workspaces button.focused {
    color: #000000;
    background: #b7bcba;
}

#workspaces button.empty {
    background:none;
}
#workspaces button.active.empty {
    color: #000000;
    background: #b7bcba;
}

#workspaces button.urgent {
    color: red;
}

#workspaces button.persistent {
    background:none;
}

#cpu, #memory, #tray, #clock, #pulseaudio, #window {
    padding: 0 10px;
    border-radius:8px;
}

#mode {
    background: #eba0ac;
    color: #000000;
    border-radius:8px;
}
