window#waybar {
  background: none;
	background:black;
}

#cpu {
  color: #b7bcba;
  text-shadow: 1px 1px 2px black;
}

#memory {
  color: #b7bcba;
  text-shadow: 1px 1px 2px black;
}

#pulseaudio {
  color: #b7bcba;
  text-shadow: 1px 1px 2px black;
}

#tray {
  color: #b7bcba;
  text-shadow: 1px 1px 2px black;
}

#taskbar button {
  background: #313244;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  margin-right: 1px;
  margin-left: 1px;
}

#clock {
  color: #b7bcba;
  font-weight: bold;
}

#custom-wlogout {
  color: #b7bcba;
  padding-left: 10px;
  padding-right: 13px;
  border-radius: 8px;
  font-weight: bold;
  background: black;
  /* margin-top: 5px; */
  margin-right: 5px;
}

#custom-swaync {
  color: #b7bcba;
  padding-left: 10px;
  padding-right: 13px;
  border-radius: 8px;
  background: black;
  /* margin-top: 5px; */
}

#window {
  color: #b7bcba;
  /* margin-top: 5px; */
}

#workspaces {
  padding: 0;
  border-radius: 8px;
  /* margin-top: 5px; */
  margin-left: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background: black;
}

/* hyprland: has content but is not selected */
#workspaces button {
  color: #888d8b;
  background: rgba(69, 69, 69, 0.33);
  padding: 1px 3px;
  border-radius: 0;
}

/* hyprland */
#workspaces button.active {
  color: #ffffff;
  background: rgba(69, 69, 69, 0.33);
  border-top: 1px solid red;
}

#workspaces button.focused {
  color: #000000;
  background: #b7bcba;
}

/* hyprland button empty */
#workspaces button.empty {
  background: none;
}
/* hyprland selected but empty */
#workspaces button.active.empty {
  color: #ffffff;
  background: none;
}

#workspaces button.urgent {
  color: red;
}

#workspaces button.persistent {
  background: none;
}

#cpu,
#memory,
#tray,
#clock,
#pulseaudio,
#network,
#window {
  padding: 0 10px;
  border-radius: 8px;
  background: black;
  /* margin-top: 5px; */
}

#mode {
  background: #eba0ac;
  color: #000000;
  border-radius: 8px;
  /* margin-top: 5px; */
}
